

<script th:inline="javascript" th:fragment="javascript">
	/*<![CDATA[*/
	$(function() {	
		
	});

	/*]]>*/
</script>

<div th:fragment="content">
	<div class="container bs-docs-container">
		version: 0.2.0-SNAPSHOT | <a th:href="@{/resources/download/IHE-IT-Infrastructure-actors-0.2.0-SNAPSHOT.jar}">Download</a>
	</div>
</div>
