<?xml version="1.0" encoding="UTF-8"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<div apply="org.zkoss.bind.BindComposer" viewModel="@id('vm') @init('edu.tcu.mi.zk.view_model.CompanyInfoVM')">
    <grid model="@bind(vm.companyInfomations)">
        <columns>
            <column width="800px" />
            <column />
        </columns>
        <template name="model:group">
            <group>123</group>
        </template>
        <template name="model">
            <row>
                <vlayout>
                    <hlayout>
                        <label value="廠商名稱：" />
                        <label value="@load(each.name)" />
                    </hlayout>
                    <hlayout>
                        <label value="Patient Id：" />
                        <label value="@load(each.patitentId)" />
                    </hlayout>
                    <hlayout>
                        <label value="Repository Endpoint：" />
                        <label value="@load(each.repositoryEndpoint)" />
                    </hlayout>
                    <hlayout>
                        <label value="Repository UniqueId：" />
                        <label value="@load(each.repositoryUniqueId)" />
                    </hlayout>
                    <hlayout>
                        <label value="Registry Endpoint：" />
                        <label value="@load(each.registryEndpoint)" />
                    </hlayout>
                </vlayout>
            </row>
        </template>
    </grid>
</div>
