



<script th:inline="javascript" th:fragment="javascript">
	/*<![CDATA[*/
	$(function() {	
		
	});

	/*]]>*/
</script>

<div th:fragment="content">
	<div class="container bs-docs-container">
	
	<h3>Public Enpoint</h3>
	<h4>NIST Repository</h4>
	http://ihexds.nist.gov:12090/tf6/services/xdsrepositoryb?wsdl
	<h4>NIST Registry</h4>
	http://ihexds.nist.gov:12090/tf6/services/xdsregistryb?wsdl
	
	
	</div>
</div>
