
<style type="text/css" th:fragment="style">
	iframe {
		width:100%;
		border:0;
	}
	html,
	body {
		padding: 0;
		margin: 0;
	}
	html {
		width: 100%;
		height: 100%;
	
		box-sizing: border-box;
	}
	body {
		width: 100%;
		height: 100%;
		min-width: 100%;
		min-height: 100%;
	}
	
	*,
	*:before,
	*:after {
		box-sizing: inherit;
	}
</style>

<script th:inline="javascript" th:fragment="javascript">
	/*<![CDATA[*/
	$(function() {	
		
	});

	/*]]>*/
</script>

<div th:fragment="content">
	<div class="container bs-docs-container">
		<br/>
		<br/>
		<iframe src="https://gitter.im/Gaduo/IHE-IT-Infrastructure/~embed" height="500" />
	</div>
</div>

