
<style type="text/css" th:fragment="style">
</style>

<script th:inline="javascript" th:fragment="javascript">
	/*<![CDATA[*/
	$(function() {	
		
	});

	/*]]>*/
</script>

<div th:fragment="content">
	<div class="container bs-docs-container">
		<br/>
		<br/>
		<h3>新世代個人化雲端健康記錄醫療資訊服務系統</h3>
		<img alt="" th:src="@{resources/main/img/RKeIuPobBBZUR7uG-CFDD9.png}" width="1024" />
		
		<h4>XDS &amp; MHD</h4>
		<img alt="" th:src="@{resources/main/img/XDS&amp;MHD.png}" />
		
	</div>
</div>

