<?xml version="1.0" encoding="UTF-8"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<div apply="org.zkoss.bind.BindComposer" viewModel="@id('vm') @init('edu.tcu.mi.zk.view_model.ct.TimeClientVM')">
	<grid>
		<columns>
			<column width="120px" />
			<column />
			<column />
		</columns>
		<rows>
			<row>
				<label value="時間伺服器 : "/>
                <textbox hflex="1" value="@bind(vm.host)" />
                <button hflex="1" label="維護時間" onClick="@command('submit')" />
			</row>
		</rows>
	</grid>
	<grid>
		<columns>
			<column width="120px" />
			<column />
			<column width="120px" />
			<column />
		</columns>
		<rows>
			<row>
				<label value="Reference 時間" />
				<label value="@load(vm.ntp.refNtpTime)" />
				<label value="Originate 時間" />
				<label value="@load(vm.ntp.origNtpTime)" />
			</row>
			<row>
				<label value="Receive 時間" />
				<label value="@load(vm.ntp.rcvNtpTime)" />
				<label value="Transmit 時間" />
				<label value="@load(vm.ntp.xmitNtpTime)" />
			</row>
			<row spans="1,3">
				<label value="Destination 時間" />
				<label value="@load(vm.ntp.destNtpTime)" />
			</row>
			<row>
				<label value="躍進指標 - leap Indicator" />
				<label value="@load(vm.ntp.message.leapIndicator)" />
				<label value="精確度 - precision" />
				<label value="@load(vm.ntp.message.precision)" />
			</row>
			<row>
				<label value="Poll" />
				<label value="@load(vm.ntp.message.poll)" />
				<label value="ModeName" />
				<label value="@load(vm.ntp.message.modeName)" />
			</row>
			<row>
				<label value="Roundtrip delay(ms)" />
				<label value="@load(vm.ntp.delay)" />
				<label value="Clock offset(ms)" />
				<label value="@load(vm.ntp.Offset)" />
			</row>
		</rows>		
	</grid>
</div>
