<!DOCTYPE HTML>
<html lang="zh-tw" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<link th:href="@{/resources/main/img/favicon.ico}" rel="shortcut icon"></link>
		<title>IHE-IT-Infrastructure-web</title>
		<link th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" rel="stylesheet"></link>
		<link th:href="@{/webjars/octicons/2.2.3/octicons/octicons.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/webjars/bootstrap-submenu/2.0.0/bootstrap-submenu.min.css}" rel="stylesheet"></link>
		
		<link th:href="@{/webjars/intro.js/1.0.0/introjs.min.css}" rel="stylesheet"></link>
		<link th:href="@{/webjars/tooltipster/1.0.9/css/tooltipster.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/webjars/tooltipster/1.0.9/css/themes/tooltipster-light.css}" rel="stylesheet" type="text/css" /> 
		<link th:href="@{/resources/main/css/core.css}" rel="stylesheet" type="text/css" ></link>
		<link th:href="@{/resources/main/css/docs.min.css}" rel="stylesheet" type="text/css" ></link>
		
		<style th:substituteby="${view} :: link"></style>

	    <style type="text/css">
			.after-header {
				padding: 0px 0px;
			}
			
			div.growlUI {
				background: url(check48.png) no-repeat 10px 10px
			}
			
			div.growlUI h1, div.growlUI h2 {
				color: #fff;
				padding: 5px 5px 5px 75px;
				text-align: left
			}
			
			div.growlUI h2 {
				font-size: medium
			}
		</style>
		<style th:substituteby="${view} :: style"></style>
	</head>


	<body>
		<div class="navbar navbar-default navbar-fixed-top">
			<div th:replace="layouts/fragments/header :: header"></div>
		</div>
		<!-- /.navbar -->

		<br/>
		<div class="after-header">
			<div th:substituteby="${view} :: content"></div>
		</div>
		<hr/>
		<!--/.container-->

		<div th:replace="layouts/fragments/footer :: footer"></div>

		<!-- Bootstrap core JavaScript
	    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
		<script th:src="@{/webjars/angularjs/1.4.7/angular.min.js}" type="text/javascript" ></script>
		<script th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
		
		<script th:src="@{/webjars/intro.js/1.0.0/intro.min.js}"></script>
		<script th:src="@{/webjars/jquery-blockui/2.65/jquery.blockUI.js}"></script>
		<script th:src="@{/webjars/tooltipster/1.0.9/js/jquery.tooltipster.min.js}" type="text/javascript"></script>

		<!-- Just for debugging purposes. Don't actually copy this line! -->
		<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<script th:src="@{/resources/main/js/main.js}"></script>
		<script th:inline="javascript">

			var loading = /*[[@{/resources/main/img/loading.gif}]]*/;
			$(function(){
	            var tooltip = {
	                content : "使用導覽",
	                minWidth : 200,
	                theme : "tooltipster-light",
	                updateAnimation: false,
	                contentAsHTML: true,
	                autoClose : true,
	                onlyOne : false,
	                position : "bottom",
	                positionTracker : true
	            };
	            $("#userGuide").tooltipster(tooltip);
	            //$("#userGuide").tooltipster('show');		
			});
		</script>
		<div th:substituteby="${view} :: javascript"></div>
	</body>


</html>
