


<div class="container"  th:fragment="content">
    <h2>Something happened...ExceptionError</h2>
    <p th:text="${exception.class}">The exception message...</p>
    <div th:each="x : ${exception.stackTrace}"
    	th:text="${x.className} + ':' + ${x.methodName} + ':' + ${x.lineNumber}">
    </div>
</div>
